 <!-- form handling -->
 
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <span style="font-size: 20px; font-weight: bold; padding-left: 320px;">Personal Info</span>
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Narendra Ambani">
        </div>
        <div class="form-group">
            <label for="phone" class="text-light">Phone no</label>
            <input type="text" name="phone" value="" placeholder="9876543210">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="aadhar" class="text-light">Aadhar no</label>
            <input type="text" name="aadhar" value="" placeholder="1234-1234-1234">
        </div>
        <span style="font-size: 20px; font-weight: bold; padding-left: 250px;">Suspicious activity description.</span>
        <div class="form-group">
            <label for="address" class="text-light">Activity adress</label>
            <input type="text" name="address" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="city" class="text-light">City</label>
            <input type="text" name="city" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="state" class="text-light">State</label>
            <input type="text" name="state" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="pincode" class="text-light">Pincode</label>
            <input type="text" name="pincode" value="" placeholder="123456">
        </div>
        
        <div class="form-group">
            <label for="category" class="text-light">Category</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="category" value="bribery" >
                <label for="radio-2" class="radio-label">Bribery</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="category" value="terrorism" >
                <label for="radio-3" class="radio-label">Terrorism</label>
            </div>
            <!-- <div class="radio inline">
                <input type="radio" id="radio-4" name="category" value="robbery" >
                <label for="radio-3" class="radio-label">Robbery</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="category" value="assault" >
                <label for="radio-3" class="radio-label">Assault</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="category" value="other" >
                <label for="radio-3" class="radio-label">Other illegal activity</label>
            </div> -->
        </div>
        <div class="form-group">
            <label for="description" class="text-light">Describe the activity</label>
            <input type="text" name="description" value="" placeholder="Breifly describe the suspicious activity...">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Send</button>
        </div>

    </div>
</form>